.main {
    width: 20.3333%; /* w-1/3 */
    padding-left: 2rem; /* px-8 */
    padding-right: 2rem; /* px-8 */
    padding-top: 4rem; /* py-16 */
    padding-bottom: 4rem; /* py-16 */
    background-color: #1a1a1a; /* bg-stone-900 */
    color: #d9d9d9; /* text-stone-50 */
    border-top-right-radius: 1rem; /* rounded-r-xl */
  }
  